@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* alert colors */
    --alert-success: #29AE29;
    --alert-warning: #FFC62A;
    --alert-error: #EF4444;

    /* other colors */
    --other-1: #ED7615;
    --other-2: #6E3CF5;
    --other-3: #38E1F1;
    --other-4: #0082FF;

    /* fonts */
    --font-Labil: 'LabilFont', sans-serif;
}

[data-theme="dark"] {
    --primary-base-1: #000000;
    --primary-base-2: #2d2d2d;
    --primary-base-3: #FFFFFF;
    --primary-base-4: #2d2d2d;
    --primary-base-5: #2d2d2d;
    /* Update other colors as necessary for dark mode */
}

[data-theme="light"] {
    --primary-base-1: #FFFFFF;
    --primary-base-2: #000000;
    --primary-base-3: #000000;
    --primary-base-4: #F9F9F9;
    --primary-base-5: #000000;
    /* Update other colors as necessary for light mode */
}

:root,
body,
img,
[data-theme="dark"],
[data-theme="light"] {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

html[data-theme="dark"] {
    color-scheme: dark;
}

html[data-theme="light"] {
    color-scheme: light;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    font-size: 14px;
    font-weight: 400;
    font-family: "Hanken Grotesk", sans-serif;
}
  
body {
    background-color: var(--primary-base-1);
    color: var(--primary-base-3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    padding: 1rem 0rem;
    max-width: 680px;
    margin: 0 auto;
    min-height: 72px;
}
  
a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 1.2rem;
    position: relative;
}

.hero-section-1 {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 270px;
    overflow: visible;  /*Prevent any overflow */
    text-align: left; /* Center text inside the section */
}

.hero-section-2 {
    margin-bottom: 5rem;
}

.intro-section {
    gap: 5rem;
    margin-bottom: 5rem;
}

.intro-subsection-1 {
    align-self: flex-start;
}

.project-section {
    margin-bottom: 7rem;
}

.project-subsection-1 {
    margin-bottom: 1.5rem;
}

.project-subsection-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-top: 25px;
}

.article-section {
    margin-bottom: 5rem;
}

.banner-section {
    margin-bottom: 14rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.testimonials-section-2 {
    margin-top: 1rem;
}

.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 100px;
}

.social-footer {
    display: flex;
    justify-content: space-between;
    min-width: 210px;
}

#custom-btn {
    background-color: var(--primary-base-2);
    color: white;
}

@media only screen and (min-width: 550px) {
    html {
        font-size: 16px;
    }

    .hero-section-1 {
        margin-top: 5rem;
        max-width: 100%;
    }

    .main-container {
        padding: 0 2rem;
    }

    .hero-section-2 {
        margin-top: -5rem;
    }

    .intro-section {
        gap: 10rem;
    }

    .project-subsection-2 {
        max-width: 70%;
        position: absolute;
    }

    .project-subsection-1-item {
        position: absolute;
        margin-top: 335px;
        right: 0;
        margin-right: 2rem;
    }

    .project-subsection-3 {
        margin-top: 200px;
    }

    .banner-section {
        margin-bottom: 17rem;
    }
    
}

/* after 700px screen size */
@media only screen and (min-width: 700px) {
    html {
        font-size: 18px;
    }

    .project-subsection-1-item {
        margin-top: 275px;
    }
}


/* after 850px screen size */
@media only screen and (min-width: 850px) {
    html {
        font-size: 20px;
    }

    .article-section {
        max-width: 96%;
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        flex-wrap: wrap;
        column-gap: 50px;
    }

    .testimonials-section {
        flex-direction: row;
        column-gap: 205px;
    }
    
    .testimonials-section-2 {
        align-self: flex-end;
        width: 100%;
        flex: 1 0 19%;
    }
}

/* after 1250px screen size */
@media only screen and (min-width: 1250px) {
    .hero-section-2 {
        margin-top: -10rem;
    }

    .intro-section {
        gap: 35rem;
        margin-bottom: 8rem;
    }

    .project-subsection-2 {
        max-width: 40%;
    }

    .project-subsection-1-item {
        margin-top: 335px;
    }

    .article-section {
        column-gap: 7rem;
    }

    .banner-section {
        margin-bottom: 20rem;
    }

    .testimonials-section {
        column-gap: 471px;
    }
}

/* after 1550px screen size */
@media only screen and (min-width: 1550px) {
    .hero-section-2 {
        margin-top: -10rem;
    }

    .intro-section {
        gap: 45rem;
        margin-bottom: 8rem;
    }

    .project-subsection-2 {
        max-width: 30%;
    }
}